a#logo:hover{
    background-color: transparent;
}

.drop-button{
    border: none;
    background-color: transparent;
    width: 135px;
    font-size: 25px; 
}

.dropdown-menu{ 
    text-decoration: none; 
    background-image: linear-gradient(rgb(253, 107, 253), rgb(250, 89, 89));
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    background-image: linear-gradient(rgb(93, 93, 170), rgb(18, 214, 149));
    color:black;
    transition: 0.3s; 
}

.icono-user{
    border-radius: 50%;
    height: 90%;
}

.drop-user{
    width: 190px;
}